
@media all and (min-width: 600px) {
  /*=============== gNavi ================*/
  #floatBtn{
    display: none;
    }
  }
  /*-------- 7Plus 以下-------- */
  @media all and (max-width: 599px) {
    
  /*------------------------------
  toggle
  ------------------------------*/
  
  .humMenu {
    width: 45px;
    height: 40px;
    top: 40px;
    right: 8px;
    position: fixed;
    cursor: pointer;
    z-index: 100;
  }
  .humMenu01 {
    width: 25px;
    height: 1.8px;
    background-color: #000;
    top: 3px;
    position: absolute;
  }
  .humMenu03 {
    width: 25px;
    height: 1.8px;
    background-color: #000;
    top: 12px;
    position: absolute;
  }
  .humMenu01,  .humMenu03 {
    transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out; /* Opera */
    -moz-transition: all 0.5s ease-out; /* Firefox */
    -webkit-transition: all 0.5s ease-out; /* GoogleChrome, Safari */
    -ms-transition: all 0.5s ease-out; /* IE */
  }
  .humMenuClick01 {
    top: 8px;
    -o-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    background-color: #fff;
  }
  .humMenuClick02 {
    opacity: 0;
  }
  .humMenuClick03 {
    top: 8px;
    -o-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
    background-color: #fff;
  }	
  
  /*=============== gNavi ================*/
  .gNavi {
    width: 100%;
    height: 100%;
    text-align:left;
    margin:0 auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background: rgba(189, 185, 185, 1);
    -webkit-transition: all .5s;
    transition: all .5s;
    visibility: hidden;
    opacity: 0;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
    overflow-x:hidden;
  }
  /* 開閉用ボタンクリック */
  .open .gNavi {
    -webkit-transition: all .5s;
    transition: all .5s;
    visibility: visible;
    opacity: 1;
  }
  .gNavi-inner {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .gNavi img{
    width:210px;
    position:fixed;
    top:47px;
    margin-left:27px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .gNavi ul.mainCont {
    width: 100%;
    margin: 0 auto;
    margin-top:20px;
    overflow-y: scroll;
     -webkit-overflow-scrolling:touch;
  }
  .gNavi ul.mainCont li {
    width: 100%;
    padding-top:60px;
    padding-bottom:60px;
    list-style: none;
    font-family: 'Georgia';
    letter-spacing:0.16rem;
    font-size:32px;
    text-align:center;
    overflow-y: scroll;
     -webkit-overflow-scrolling:touch;
  }
  .gNavi a {
    width: 100%;
    color: #fff;
    text-decoration: none;
    display: block;
   　zoom: 1;	/* IE6以前に対応 */
  }
  .gNavi a:visited {
    color: #fff;
    text-decoration: none;
  }
  .gNavi a:active {
    color: #fff;
    text-decoration: underline;
  }
  .gNavi a:hover {
    transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out; /* opera */
  -moz-transition: opacity 0.3s ease-out; /* firefox */
  -webkit-transition: opacity 0.3s ease-out; /* chrome, safari */
  -ms-transition: opacityr 0.3s ease-out; /* ie */
    text-decoration: none;
    opacity:0.5;
  }
  .gNavi .accordion ul {
    position:relative;
    display:block;
    top:100px;
    left:20px;
    width:100%;
    padding:0;
    padding-bottom:80px;
  }
  .gNavi .accordion li {
    position:relative;
    list-style:none;
    letter-spacing:0.1rem;
  }
  .gNavi .accordion > ul > li > a {
    display: block;
    text-decoration: none;
    cursor: pointer;
    padding: 1.5em 1em;
    position: relative;
  }
  .gNavi .accordion .category{
    position:relative;
    top:45px;
  }
  .gNavi .accordion .category li{
    font-size:15px;
    padding-bottom:2px;
  }
  .gNavi .accordion > ul > li > .category {
    display: none;
    text-align:left;
    padding:0 .8em 1.4em 1em;
    margin-left:-5px;
    margin-top:-50px;
    margin-bottom:50px;
    color:#fff;
    line-height:1.8;
  }
  .gNavi .accordion .category .hr{
    width:20px;
    border-top:solid 0.8px #aaa;
    margin-bottom:5px
    ;margin-top:5px;
  }
   
  .gNavi .accordion li .accordion_icon,
  .gNavi .accordion li .accordion_icon span {
    display:block;
    transition: all .4s;
  }
  .gNavi .accordion li .accordion_icon {
    position:relative;
    width: 20px;
    height: 1px;
    left:100px;
    margin-top:-9.5px;
    z-index:999;
    padding-bottom:20px;
  }
  .gNavi .accordion li .accordion_icon span {
    position:relative;
      width: 90%;
    height:1px;
      background-color: #fff;
  }
  .gNavi .accordion li .accordion_icon span:nth-of-type(1) {
    transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
  }
  .gNavi .accordion li .accordion_icon span:nth-of-type(2) {
    transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
  }
  .gNavi .accordion li .accordion_icon.active span:nth-of-type(1) {
    display:none;
  }
  .gNavi .accordion li .accordion_icon.active span:nth-of-type(2) {
    transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
  }
  .gNavi h5{
    display:block;
    font-size:18px;
    letter-spacing:0.08rem;
  }
  }
  /*-------- 7 以下-------- */
  @media all and (max-width: 375px) {
    
  /*------------------------------
  toggle
  ------------------------------*/
  
  .humMenu {
    width: 45px;
    height: 35px;
    top: 35px;
    right: 8px;
    position: fixed;
    cursor: pointer;
    z-index: 100;
  }
  .humMenu01 {
    width: 25px;
    height: 1.8px;
    background-color: #000;
    top: 0px;
    position: absolute;
  }
  .humMenu03 {
    width: 25px;
    height: 1.8px;
    background-color: #000;
    top: 9px;
    position: absolute;
  }
  .humMenu01,  .humMenu03 {
    transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out; /* Opera */
    -moz-transition: all 0.5s ease-out; /* Firefox */
    -webkit-transition: all 0.5s ease-out; /* GoogleChrome, Safari */
    -ms-transition: all 0.5s ease-out; /* IE */
  }
  .humMenuClick01 {
    top: 5px;
    -o-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    background-color: #fff;
  }
  .humMenuClick02 {
    opacity: 0;
  }
  .humMenuClick03 {
    top: 5px;
    -o-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
    background-color: #fff;
  }	
  
  /*=============== gNavi ================*/
  .gNavi {
    width: 100%;
    height: 100%;
    text-align:left;
    margin:0 auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background: rgba(189, 185, 185, 1);
    -webkit-transition: all .5s;
    transition: all .5s;
    visibility: hidden;
    opacity: 0;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
    overflow-x:hidden;
  }
  /* 開閉用ボタンクリック */
  .open .gNavi {
    -webkit-transition: all .5s;
    transition: all .5s;
    visibility: visible;
    opacity: 1;
  }
  .gNavi-inner {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .gNavi img{
    width:200px;
    position:fixed;
    top:40px;
    margin-left:27px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .gNavi ul.mainCont {
    width: 100%;
    margin: 0 auto;
    margin-top:20px;
    overflow-y: scroll;
     -webkit-overflow-scrolling:touch;
  }
  .gNavi ul.mainCont li {
    width: 100%;
    padding-top:60px;
    padding-bottom:60px;
    list-style: none;
    font-family: 'Georgia';
    letter-spacing:0.16rem;
    font-size:32px;
    text-align:center;
    overflow-y: scroll;
     -webkit-overflow-scrolling:touch;
  }
  .gNavi a {
    width: 100%;
    color: #fff;
    text-decoration: none;
    display: block;
   　zoom: 1;	/* IE6以前に対応 */
  }
  .gNavi a:visited {
    color: #fff;
    text-decoration: none;
  }
  .gNavi a:active {
    color: #fff;
    text-decoration: underline;
  }
  .gNavi a:hover {
    transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out; /* opera */
  -moz-transition: opacity 0.3s ease-out; /* firefox */
  -webkit-transition: opacity 0.3s ease-out; /* chrome, safari */
  -ms-transition: opacityr 0.3s ease-out; /* ie */
    text-decoration: none;
    opacity:0.5;
  }
  .gNavi .accordion ul {
    position:relative;
    display:block;
    top:100px;
    left:20px;
    width:100%;
    padding:0;
    padding-bottom:80px;
  }
  .gNavi .accordion li {
    position:relative;
    list-style:none;
    letter-spacing:0.1rem;
  }
  .gNavi .accordion > ul > li > a {
    display: block;
    text-decoration: none;
    cursor: pointer;
    padding: 1.5em 1em;
    position: relative;
  }
  .gNavi .accordion .category{
    position:relative;
    top:45px;
  }
  .gNavi .accordion .category li{
    font-size:15px;
    padding-bottom:2px;
  }
  .gNavi .accordion > ul > li > .category {
    display: none;
    text-align:left;
    padding:0 .8em 1.4em 1em;
    margin-left:-5px;
    margin-top:-50px;
    margin-bottom:50px;
    color:#fff;
    line-height:1.8;
  }
  .gNavi .accordion .category .hr{
    width:20px;
    border-top:solid 0.8px #aaa;
    margin-bottom:5px
    ;margin-top:5px;
  }
   
  .gNavi .accordion li .accordion_icon,
  .gNavi .accordion li .accordion_icon span {
    display:block;
    transition: all .4s;
  }
  .gNavi .accordion li .accordion_icon {
    position:relative;
    width: 20px;
    height: 1px;
    left:100px;
    margin-top:-9.5px;
    z-index:999;
    padding-bottom:20px;
  }
  .gNavi .accordion li .accordion_icon span {
    position:relative;
      width: 90%;
    height:1px;
      background-color: #fff;
  }
  .gNavi .accordion li .accordion_icon span:nth-of-type(1) {
    transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
  }
  .gNavi .accordion li .accordion_icon span:nth-of-type(2) {
    transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
  }
  .gNavi .accordion li .accordion_icon.active span:nth-of-type(1) {
    display:none;
  }
  .gNavi .accordion li .accordion_icon.active span:nth-of-type(2) {
    transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
  }
  .gNavi h5{
    display:block;
    font-size:18px;
    letter-spacing:0.08rem;
  }
  }
  /*-------- SE 以下-------- */
  @media all and (max-width: 320px) {
  /*------------------------------
  toggle
  ------------------------------*/
  
  .humMenu {
    width: 45px;
    height: 35px;
    top: 35px;
    right: 0;
    position: fixed;
    cursor: pointer;
    z-index: 100;
  }
  .humMenu01 {
    width: 21px;
    height: 1.6px;
    background-color: #000;
    top: 0px;
    position: absolute;
  }
  .humMenu03 {
    width: 21px;
    height: 1.6px;
    background-color: #000;
    top: 8px;
    position: absolute;
  }
  .humMenu01,  .humMenu03 {
    transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out; /* Opera */
    -moz-transition: all 0.5s ease-out; /* Firefox */
    -webkit-transition: all 0.5s ease-out; /* GoogleChrome, Safari */
    -ms-transition: all 0.5s ease-out; /* IE */
  }
  .humMenuClick01 {
    top: 3px;
    -o-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    background-color: #fff;
  }
  .humMenuClick02 {
    opacity: 0;
  }
  .humMenuClick03 {
    top: 3px;
    -o-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
    background-color: #fff;
  }	
  
  /*=============== gNavi ================*/
  .gNavi {
    width: 100%;
    height: 100%;
    text-align:left;
    margin:0 auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background: rgba(189, 185, 185, 1);
    -webkit-transition: all .5s;
    transition: all .5s;
    visibility: hidden;
    opacity: 0;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
    overflow-x:hidden;
  }
  /* 開閉用ボタンクリック */
  .open .gNavi {
    -webkit-transition: all .5s;
    transition: all .5s;
    visibility: visible;
    opacity: 1;
  }
  .gNavi-inner {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .gNavi img{
    width:190px;
    position:fixed;
    top:40px;
    margin-left:27px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .gNavi ul.mainCont {
    width: 100%;
    margin: 0 auto;
    margin-top:20px;
    overflow-y: scroll;
     -webkit-overflow-scrolling:touch;
  }
  .gNavi ul.mainCont li {
    width: 100%;
    padding-top:60px;
    padding-bottom:60px;
    list-style: none;
    font-family: 'Georgia';
    letter-spacing:0.16rem;
    font-size:32px;
    text-align:center;
    overflow-y: scroll;
     -webkit-overflow-scrolling:touch;
  }
  .gNavi a {
    width: 100%;
    color: #fff;
    text-decoration: none;
    display: block;
   　zoom: 1;	/* IE6以前に対応 */
  }
  .gNavi a:visited {
    color: #fff;
    text-decoration: none;
  }
  .gNavi a:active {
    color: #fff;
    text-decoration: underline;
  }
  .gNavi a:hover {
    transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out; /* opera */
  -moz-transition: opacity 0.3s ease-out; /* firefox */
  -webkit-transition: opacity 0.3s ease-out; /* chrome, safari */
  -ms-transition: opacityr 0.3s ease-out; /* ie */
    text-decoration: none;
    opacity:0.5;
  }
  .gNavi .accordion ul {
    position:relative;
    display:block;
    top:90px;
    left:20px;
    width:100%;
    padding:0;
    padding-bottom:80px;
  }
  .gNavi .accordion li {
    position:relative;
    list-style:none;
    letter-spacing:0.1rem;
  }
  .gNavi .accordion > ul > li > a {
    display: block;
    text-decoration: none;
    cursor: pointer;
    padding: 1.5em 1em;
    position: relative;
  }
  .gNavi .accordion .category{
    position:relative;
    top:41px;
  }
  .gNavi .accordion .category li{
    font-size:14px;
    padding-bottom:1px;
  }
  .gNavi .accordion > ul > li > .category {
    display: none;
    text-align:left;
    padding:0 .8em 1.4em 1em;
    margin-left:-5px;
    margin-top:-50px;
    margin-bottom:50px;
    color:#fff;
    line-height:1.8;
  }
  .gNavi .accordion .category .hr{
    width:20px;
    border-top:solid 0.8px #aaa;
    margin-bottom:5px
    ;margin-top:5px;
  }
   
  .gNavi .accordion li .accordion_icon,
  .gNavi .accordion li .accordion_icon span {
    display:block;
    transition: all .4s;
  }
  .gNavi .accordion li .accordion_icon {
    position:relative;
    width: 20px;
    height: 1px;
    left:100px;
    margin-top:-9.5px;
    z-index:999;
    padding-bottom:20px;
  }
  .gNavi .accordion li .accordion_icon span {
    position:relative;
      width: 90%;
    height:1px;
      background-color: #fff;
  }
  .gNavi .accordion li .accordion_icon span:nth-of-type(1) {
    transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
  }
  .gNavi .accordion li .accordion_icon span:nth-of-type(2) {
    transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
  }
  .gNavi .accordion li .accordion_icon.active span:nth-of-type(1) {
    display:none;
  }
  .gNavi .accordion li .accordion_icon.active span:nth-of-type(2) {
    transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
  }
  .gNavi h5{
    display:block;
    font-size:17px;
    letter-spacing:0.08rem;
  }
  }